* {
  letter-spacing: 1px;
  font-family: "Playfair Display", serif;
}
.navbar1 {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 15px;
  position: static;
  top: 0;
  z-index: 50;
}
a {
  color: black;
  text-decoration: none;
}
.navbar {
  overflow: hidden;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 100%;
  left: 0;
  box-shadow: 2px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 50px;
}

.dropdown-content .header {
  padding-bottom: 20px;
}

.dropdown:hover .dropdown-content {
  display: block;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 10px;
  font-size: 12px;
  text-decoration: underline;
  margin-top: 10px;
}

.drop {
  font-size: 20px;
  word-spacing: 5px;
  color: #181818;
  opacity: 0.8;
}

.drop:hover {
  text-decoration: underline;
  text-underline-offset: 15px;
  cursor: pointer;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: fit-content;
  margin-left: 90px;
  background-color: white;
  height: fit-content;
  text-align: justify;
}

.column a {
  float: none;
  color: black;
  padding: 12px;
  padding-bottom: 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* .column a:hover {
  font-weight: 900;
} */
a {
  align-items: center;
  text-align: center;
}
.link {
  margin-top: 5px;
}
.btn {
  background-color: none;
  display: n;
}
.hidebox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    gap: 25px;
    margin-left: 30%;
}
.maindiv{
    display: flex;
    justify-content: space-between;
    background-color: #d1d4d6;
    padding: 1;
}
@media screen and (max-width: 2000px) and (min-width: 1240px){
    .shide{
        display: none;
    }

}
@media screen and (max-width: 1241px) and (min-width: 600px) {
 .heart{
    display: none;
 }
    .navbar1 {
    width: 100%;
    /* margin: auto; */
    border: 1px solid;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 15px;
  }
  a {
    color: black;
    text-decoration: none;
  }
  .navbar {
    overflow: hidden;
  }
  .hidebox{
    display: none;
  }
  .maindiv{display: none;}
}

@media screen and (max-width: 599px) and (min-width: 300px) {
    .heart{
       display: none;
    }
       .navbar1 {
       width: 100%;
       /* margin: auto; */
       border: 1px solid;
       display: flex;
       box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
       padding: 15px;
     }
     a {
       color: black;
       text-decoration: none;
     }
     .navbar {
       overflow: hidden;
     }
     .hidebox{
       display: none;
     }
     .maindiv{display: none;}
   }
   